.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 20%;
  padding: 4px 2px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
