.container {
  position: relative;
}

.image {
  display: block;
  opacity: 1;
  transition: 0.5 ease;
  backface-visibility: hidden;
}

.middle {
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5 ease;
  position: absolute;
  text-align: center;
}

.text {
  width: auto;
  height: auto;
  border-radius: 12%;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}
